{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ourmissions.css' %}" />
</head>
<body>
    <h1 id="heading">Motives</h1>
    <!-- <div id="container">
        <table>
            <tr>
                <td><div id="innercontainer"><p>
                    UNEMPLOYMENT is one of the major problems India is facing. The unemployment rate in India is literally approaching 10 %. The unemployment rate in rural India is even much worse. Through our research, we found that one of the main reasons for unemployment is not using the talent in youth properly. So we cameup with this idea to develop a website to provide freelancing oppurtunies for unemployed youth !!
                </p></div></td>
                <td><div id="innercontainer"><p>
                    Some unemployed youth are very much skilled in blue collar jobs. They may be from rural areas. So they can create an account in this website and can work for the freelancing jobs.
                </p></div></td>
            </tr>
            <tr>
                <td><div id="innercontainer"><p>
                    The customers could find the freelancers easily who are best suited for the jobs. Also the project works on the model of door to door service. This way the customer could enjoy any service at their doorstep.
                </p></div></td>
                <td><div id="innercontainer"><p>
                    A Machine Learning collaborative recommender system is intergrated in the website to provide best recommendations to the users !!
                </p></div></td>
            </tr>
        </table>
    </div> -->
    <div class="mission-cont">
        <div class="row">
            <div id="innercontainer">
                UNEMPLOYMENT is one of the major problems India is facing. The unemployment rate in India is literally approaching 10 %. The unemployment rate in rural India is even much worse. Through our research, we found that one of the main reasons for unemployment is not using the talent in youth properly. So we cameup with this idea to develop a website to provide freelancing oppurtunies for unemployed youth !!
            </div>
            <div id="innercontainer">
                Some unemployed youth are very much skilled in blue collar jobs. They may be from rural areas. So they can create an account in this website and can work for the freelancing jobs.
            </div>
        </div>
        <div class="row">
            <div id="innercontainer">
                The customers could find the freelancers easily who are best suited for the jobs. Also the project works on the model of door to door service. This way the customer could enjoy any service at their doorstep.
            </div>
            <div id="innercontainer">
                A Machine Learning collaborative recommender system is intergrated in the website to provide best recommendations to the users !!
            </div>
        </div>
    </div>
</body>
</html>