@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');
*{
    font-family: 'League Spartan', sans-serif;
    zoom: 98%;
}

body {
  margin: 0px;
  background-color: white;
  height: 1000px;
  background-image: url('../images/bg-4.jpg');
  position: relative;
}
#back-img{
    width: 3%;
    min-width: 30px;
    margin: 5px 0 0 30px;
    cursor: pointer;
    border-radius: 5px;
}
#back-img:hover {
	background: #00E7FF;
	border-radius: 34px;
}


#page-heading {
  margin-top: 0px;
  padding: 15px;
  color:white;
  text-align: center;
  background-color: #009EFF;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login_form {
  background-color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 500px;
	margin: 0 auto 0 auto;
  border-radius: 10px;
  border: 2px solid #009EFF;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.work-info {
  width: 242px;
  flex-direction: row;
  flex-wrap: wrap;
}

.workset {
  margin: 3px auto;
  height: 27px;
  min-width: 115px;
}
.workset label{
  font-family: Microsoft Sans Serif;
  font-weight: bold;
}

.form-input {
  width: 200px;
  padding: 8px;
  text-align: center;
  margin: 5px auto;
  border-color: #00E7FF;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bolder;
}

.form-input:hover{
  border: 2px solid #0014FF;
}

.form-margins {
  margin: 5px;
  font-weight: bold;
}


.display-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 500px; */
}
.form-contents {
	padding: 8px 4%;
	box-sizing: border-box;
	display: flex;
  background: none;
	/* margin: 4% auto; */
}

.message-errors {
  text-align: center;
  background: gainsboro;
}
.form-errors {
  background: gainsboro;
}


.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #00E7FF;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 19px auto;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: #009EFF;
  box-shadow: #009EFF 0 4px 12px;
  color: #009EFF;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@media only screen and (max-width:700px){
    .form-contents{
        flex-direction: column;
    }
}

@media only screen and (max-width:550px){
    .login_form{
        width: auto;
    }
    .work-info{
        width: auto;
    }
    .info{
        flex-direction: column;
    }
    
}
