@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap");

* {
  margin:0;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
  zoom: 98%;
}

#back-img {
  width: 3%;
  min-width: 30px;
  margin: 0 0 0 30px;
  cursor: pointer;
  float: left;
}
#back-img:hover {
  background: #87cefae3;
  border-radius: 34px;
}

#page-heading {
  color: white;
  background-color: #009EFF;
  padding: 20px;
  margin-bottom: 30px;
}

body {
  margin: 0px;
  background-color: white;
  height: 1000px;
  position: relative;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 165px;
  height: auto;
  margin: 83px 0 0 32px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;

  background: #f1f1f1;
  margin: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  border: 4px solid #009EFF;
}
.image-sect {
  padding: 10px;
  border: 1px solid;
}
#profile-img {
  width: 121px;
  margin: 20px 20px;
}

.image-edit {
  width: 160px;
  background-color: aquamarine;
  height: 167px;
}

.settings-sect {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.settings-sect form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.work-info {
  width: 242px;
  flex-direction: row;
  flex-wrap: wrap;
}
.upload-pic {
  margin: 8px auto auto;
  max-width: 277px;
}
.workset {
  margin: 7px;
}
.submit-button {
  width: 75px;
  margin: 19px auto;
}


.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 19px auto;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 30px;
}

.button-6:hover,
.button-6:focus {
  border-color: #009EFF;
  box-shadow: #009EFF 0 4px 12px;
  color: #009EFF;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}



.form-input {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border-color: #00E7FF;
  font-size: 20px;
}
.form-input:hover{
  border:2px solid #0014FF;
}
.form-margins {
  margin: 5px;
  text-align: center;
}

.user-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 23px 132px;
}
.user-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
.user-data-main-container {
  padding: 13px;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-data {
  margin: 6px 0;
}
@media only screen and (max-width: 1090px) {
  .main-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 340px) {
  .settings-sect {
    padding: 0;
    box-sizing: border-box;
  }
  .form-input {
    width: 192px;
  }
}
