@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap");

* {
  /* font-family: 'Charm', cursive; */
  /* font-family: 'EB Garamond'; */
  font-family: "League Spartan", sans-serif;
  /* border: 1px solid black; */
  zoom: 98%;
}

body {
  margin: 0px;
  background-color: #fcffe7;
  /* height: 5000px; */
  background-image: url("../images/bg-4.jpg");
  background-size: contain;
  position: relative;
}
#header {
  background-image: url(../images/atwork/ht1.jpg);
  height: 166px;
  /* background-repeat: no-repeat; */
  background-size: contain;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  min-width: 460px;
}

#header h2 {
  color: antiquewhite;
  margin: 5% 0 0 15%;
  font-size: 3vw;
  /* padding: 2% 20%; */
  width: 14%;
  height: 108px;
  min-width: 120px;
  text-align: center;
  /* align-items: center; */
  background-color: brown;
  padding: 1% 2% 1% 2%;
  box-sizing: border-box;
  font-family: "Charm", cursive;
  text-shadow: 5px 5px 10px black;
  border-radius: 35px;
}

#logo-img {
  margin: 44px 0 0 1%;
  width: 262px;
  height: 88px;
  /* min-width: 160px; */
  border-radius: 50px;
  margin: 44px 0 0 1%;
}
.searchar-and-loc {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 400px;
  background: beige;
  /* height: 52%; */
  margin: auto 0;
  height: 80px;
}
#works {
  margin: 4px auto;
  /* margin: auto 4px; */
  width: 143px;
  height: auto;
  font-size: 22px;
  background: white;
  font-weight: bold;
  /* margin: auto 12px; */
  border-radius: 6px;
  padding: 6px;
  box-sizing: border-box;
}

#location {
  margin: 4px auto;
  width: 107px;
  /* margin-top: 72px; */
  height: 35px;
  font-size: 22px;
  font-weight: bold;
  /* margin: auto 12px; */
  text-align: center;
  border-radius: 7px;
}
.submit-button {
  margin: 4px auto;
  width: 111px;
  height: 37px;
  font-size: 22px;
}
.fa-search {
  font-size: 16px;
  margin: 4px;
}

.authentication {
  display: flex;
  /* background: antiquewhite; */
  /* width: 500px; */
}
.profile {
  width: 179px;
  text-align: center;
  z-index: 10;
  /* margin: 0 0 0 312px; */
}

.profile-pic {
	
	width: 77px;
	height: 77px;
	margin: 54px auto auto;
	/* text-align: center; */
}

#profile-img {
  width: 77px;
  height: 77px;
  /* margin: 54px 0 0 0; */
  cursor: pointer;
  border-radius: 50px;
}

#profile-dropdown {
  background: azure;
  /* margin: 0 22px; */
  box-sizing: border-box;
  padding: 4px 15px;
  display: none;
}
#profile-dropdown a{
  text-decoration: none;
}


.profile-settings {
  background: azure;
  width: 148px;
  margin: 4px 0 0 0;
  box-sizing: border-box;
  padding: 10px;
  font-size: 21px;
  font-weight: bolder;
}

.profile-settings:hover {
  background: beige;
  cursor: pointer;
}
.profile-settings a {
  text-decoration: none;
}

#login_signup_form {
  position: absolute;
  background-color: antiquewhite;
  width: 412px;
  /* height: 500px; */
  top: 17vh;
  left: 21vw;
  z-index: 22;
  position: fixed;
  display: none;
}

.login_signup_form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-solid {
	margin: 6px 0 0 91%;
	font-size: 29px;
	cursor: pointer;
	float: right;
	width: 28px;
	text-align: center;
}

.fa-solid:hover {
  border-radius: 34px;
  background: azure;
  transition: 0.3s ease;
}

.login_signup_form_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
.form-contents {
  /* width: 463px; */
  margin: 0px 20px 10px;
  /* height: 408px; */
  background-color: azure;
  padding: 10px;
}
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_form .form-margins {
  margin: 3px;
  text-align: center;
}

.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 19px auto;
  /* min-height: 3rem; */
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 30px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#delete-account{
  position: absolute;
  background-color: antiquewhite;
  /* width: 412px; */
  /* height: 500px; */
  top: 17vh;
  left: 21vw;
  z-index: 22;
  position: fixed;
  display: none;
  margin: 7px;
}
.delete-acc{
  text-align: center;
  margin: auto 13px;
  font-size: 30px;
}

.delete-account-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete-account-main i {
  margin: 11px 0 0 464px;
  font-size: 29px;
  cursor: pointer;
}

.delete-contents {
  margin: 0px 20px 10px;
  background-color: azure;
}

#delete-button {
  margin: 4px 0;
}

.top-container {
  background-color: #e0d8b0;
  height: 73px;
  margin: 3%;
  border-radius: 50px;
}
#navbar {
  /* position: sticky;
    top: 0; */
  box-sizing: border-box;
  padding: 1px;
  background-color: #e3e3e3;
}
#navbar ul {
  display: flex;
  justify-content: space-evenly;
}
#navbar li {
  list-style: none;
  width: 121px;
  text-align: center;
  padding: 5px;
}
#navbar li:hover {
  background-color: #fcffe7;
  box-shadow: 1px 1px 4px 0px;
  width: 121px;
}
#navbar li a {
  text-decoration: none;
  color: #0e0eec;
  font-weight: 900;
}

#theme {
  /* background-color: #7b7b7b; */
  width: 100%;
  /* display: flex;
    justify-content: space-between; */
  /* text-align: center; */
  /* height: 315px; */
  position: relative;
  background-color: #fcffe7;
}
.theme_text {
  /* width: 100%;
    padding: 8%; */
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 34%;
  left: 17%;
  width: 380px;
}

.motto {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  color: black;
  text-align: center;
  padding: 0;
  /* font-family: 'Charm', cursive; */
  font-family: "EB Garamond";
  /* font-family: 'League Spartan', sans-serif; */
  font-weight: bolder;
  /* text-shadow: -1px 1px 2px #000; */
  /* -webkit-text-stroke: 1px white; */
  /* -webkit-text-stroke: 1px #282828; */
  /* text-shadow: 0px 4px 4px #282828; */
  text-shadow: 0px 3px 0 white, 0px 0px 0 white, 1px -1px 0 white;
}
#theme img {
  width: 30%;
  /* min-width: 400px; */
  margin-left: 60%;
  display: inline-block;
  max-width: 307px;
}
.theme-img{

}

#freq_services {
  /* background-color: #FCFFE7; */
  padding: 17px;
}

.jobs-container {
  /* margin: 3%; */
  /* background-color: #FCFFE7; */
  border: 1px solid #222;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 50px;
}
.freq_used {
  text-align: center;
  background-color: #fff;
  padding: 30px;
}

.jobs {
  margin: 28px;
  width: 120px;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  /* box-shadow: 0px 0px 10px 0px rgb(25 78 105); */
}
.jobs_effects {
  box-shadow: 0px 0px 10px 0px rgb(25 78 105);
}
.jobs_effects:hover {
  /* background-color: #fff; */
  padding: 0px;
  /* width:125px;
    z-index: 2px; */
}
.jobs img {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 18px 2px 18px;
}
.jobs p {
  text-align: center;
  color: darkmagenta;
  margin: 0;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.review1 {
  background-color: #fff;
  padding: 37px;
  margin: 13px 36px;
  border: 2px solid rosybrown;
}

.review1 img {
  float: left;
  width: 50px;
  width: 72px;
  margin: 0 16px 6px 0;
  border-radius: 50px;
}
.review1 span {
  font-size: 30px;
}
.home_repairs {
  overflow-y: scroll;
}

.category_jobs {
  /* background-color: #FCFFE7; */
  padding: 30px;
}
.category_jobs_effects{
  border: 1px solid black;
}
.category_jobs .category_jobs_con {
	height: 323px;
	overflow-y: scroll;
	border: none;
	background-color: lightcyan;
	border: 5px solid cornflowerblue;
}

#procedure_heading {
  text-align: center;
  background-color: beige;
  padding: 30px;
}
#procedure_heading span {
  color: blueviolet;
}

.procedures h3 {
  margin: 23px 0 23px 2%;
  font-size: 32px;
  color: black;
}
.procedures_sec {
  display: flex;
  justify-content: space-between;
  /* background-color: #FCFFE7; */
  background-color: beige;
  margin: 0 9px;
}
.procedure {
  background-color: white;
  padding: 15px;
  margin: 20px;
  border: 1px solid cornflowerblue;
  color: black;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.procedure img {
  width: 80px;
}

@media only screen and (max-width: 900px) {
  #logo-img {
    width: 155px;
    height: auto;
    margin: 40px 0 9px 1%;
  }
  #header {
    flex-direction: column;
    height: 400px;
    min-width: 0;
  }

  .authentication {
    display: flex;
    margin: 0 auto;
  }
  .searchar-and-loc {
    width: auto;
    margin: 0 auto;
  }
  .search-bar {
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 10px;
  }

  #location {
  }
  #searchbar {
  }
  #profile-dropdown {
    position: absolute;
    z-index: 20;
  }
  .theme_text {
    top: 92px;
    left: 6vh;
    width: 215px;
    /* background: #FCFFE7; */
    margin-left: 1vh;
    font-size: 16px;
  }

  #theme img {
    width: 21%;
    min-width: 279px;
    margin-left: 0vh;
    display: inline-block;
  }

  #freq_services {
    /* background-color: #FCFFE7; */
    padding: 5px;
  }
  .jobs-container {
    /* margin: 3%; */
    /* background-color: #FCFFE7; */
    border: 1px solid #222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 9px;
  }
  .jobs {
    margin: 4px;
    width: 83px;
    border-radius: 6px;
    display: inline-block;
    padding: 1px;
    box-sizing: border-box;
  }

  .reviews {
    flex-direction: column;
  }
  .procedures_sec {
    flex-direction: column;
  }
  .procedure {
    font-size: 18px;
  }
  .procedure img {
    width: 49px;
  }
}


@media only screen and (max-width: 600px) {
    #login_signup_form {
        width: auto;
        left: 15vw;
    }
}


@media only screen and (max-width: 370px) {
  #login_signup_form {
    width: auto;
    left: auto;
  }
  #login_signup_form {
    width: 200px;
    left: 5vw;
  }
  .form-margins{
    width: 144px;
  }
  .fa-solid {
    margin: 6px 0 0 84%;
  }
  #theme img{
    min-width: 275px;
  }
  .theme_text {
    top: 120px;
    left: 11vh;
  }
  .theme_text {
    top: 93px;
    left: 4vh;
    
  }
  .motto{
    font-size: 31px;
  }
  #delete-account {
    left: 2vw;
  }

}