<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

  <link rel="shortcut icon" href="{% static 'images/logo2.png' %}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" />
</head>

<body>

<h1 id="page-heading">Sign up</h1>
<a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'images/atwork/back.png'%}" alt="" id="back-img"></a>


  <div class="form-contents">
    <div class="display-errors">
      {% if messages %}
        {% for message in messages %}
        <div class="message-errors">
          {{message}}
        </div>
        {% endfor %}
      {% endif %}
      
      {% if form.errors %}
        <div class="form-errors">
          {{form.errors}}
        </div>
      {% endif %}

    </div>


    <form method="POST" action="{% url 'register' %}" class="login_form">

      {% csrf_token %}
      <div class="info">
        <div class="user-info">

          <label for="f-name" class="form-margins">First name</label>
          {{form.first_name}}

          <label for="l-name" class="form-margins form-signup">Last name</label>
          {{form.last_name}}


          <label for="phno." class="form-margins">Phone Number</label>
          {{userdataform.phoneNumber}}

          <label for="phno." class="form-margins">User name</label>
          {{form.username}}

          <label for="email-id" class="form-margins">Email id</label>
          {{form.email}}

          <label for="pwd" class="form-margins">Enter password</label>
          {{form.password1}}

          <label for="pwd" class="form-margins">Confirm password</label>
          {{form.password2}}

          <label for="states" class="form-margins ">State</label>
          {{userdataform.state}}

          <label for="cities" class="form-margins">City</label>
          {{userdataform.city}}
        </div>

        <div class="work-info user-info">
          <div class="workset">
            <label>Electrician</label>
            {{userdataform.electrician}}
          </div>
          <div class="workset">
            <label>Plumber</label>
            {{userdataform.plumber}}
          </div>
          <div class="workset">
            <label>Tailor</label>
            {{userdataform.tailor}}
          </div>
          <div class="workset">
            <label>Tutor</label>
            {{userdataform.tutor}}
          </div>
          <div class="workset">
            <label>Transport</label>
            {{userdataform.transport}}
          </div>
          <div class="workset">
            <label>Car repair</label>
            {{userdataform.carrepair}}
          </div>

          <div class="workset">
            <label>Painter</label>
            {{userdataform.painter}}
          </div>

        </div>

      </div>

      <button class="button-6 submit-button" role="button">Sign up</button>

    </form>

  </div>

</body>

</html>



