{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo2.png' %}" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet" />

</head>

<body>
    <h1 id="page-heading">Settings</h1>

    <a href="{% url 'home' %}"><img src="{% static 'images/atwork/back.png'%}" alt="" id="back-img"></a>


    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'auth')" id="defaultOpen">Update user data</button>
        <button class="tablinks" onclick="openCity(event, 'userinfo')">User Information</button>
    </div>


    <div id="auth" class="tabcontent">

            <form action="" method="POST" id="formOne" enctype="multipart/form-data" class="main-container">
                {% csrf_token %}
                <div class="settings-sect">

                    <div class="info">
                        <div class="user-info">

                            <label for="f-name" class="form-margins">First name</label>
                            {{userform.first_name}}


                            <label for="l-name" class="form-margins">Last name</label>
                            {{userform.last_name}}


                            <label for="phno." class="form-margins">Phone Number</label>
                            {{detailsform.phoneNumber}}

                            <label for="states" class="form-margins">State</label>
                            {{detailsform.state}}


                            <label for="cities" class="form-margins">City</label>
                            {{detailsform.city}}
                        </div>

                        <div class="work-info user-info">

                            <div class="workset">
                                <label>electrician</label>
                                {{detailsform.electrician}}
                            </div>
                            <div class="workset">
                                <label>plumber</label>
                                {{detailsform.plumber}}
                            </div>
                            <div class="workset">
                                <label>tailor</label>
                                {{detailsform.tailor}}
                            </div>
                            <div class="workset">
                                <label>tutor</label>
                                {{detailsform.tutor}}
                            </div>
                            <div class="workset">
                                <label>transport</label>
                                {{detailsform.transport}}
                            </div>
                            <div class="workset">
                                <label>carrepair</label>
                                {{detailsform.carrepair}}
                            </div>
                            <div class="workset">
                                <label>painter</label>
                                {{detailsform.painter}}
                            </div>
                        </div>
                    </div>

                    <button type="submit" name="form_type" value="formOne" class="submit-button button-6">
                        Update
                    </button>
                </div>
            </form>
    </div>

    <div id="userinfo" class="tabcontent user-data-container">
        <div class="user-data-main-container">
            {% for x in user %}
            <div class="user-data">
                <strong>First name: </strong>{{x.first_name}}
            </div>

            <div class="user-data">
                <strong>Last name: </strong>{{x.last_name}}
            </div>

            <div class="user-data">
                <strong>Username: </strong>{{x.username}}
            </div>

            <div class="user-data">
                <strong>E-mail: </strong>{{x.email}}
            </div>

            <div class="user-data">
                <strong>Joined on </strong>{{x.date_joined}} UTC
            </div>

            {% endfor %}
        </div>



        

    </div>



    <script>
        function openCity(evt, req_option) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(req_option).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>


</body>

</html>