<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>At work</title>
  <link rel="stylesheet" href="{% static 'css/work.css' %}" />
  <link rel="shortcut icon" href="{% static 'images/logo2.png' %}" type="image/x-icon">
  
</head>

<body>
  <h1 id="page-heading">{{ML}}</h1>
  <h1 id="page-heading">{{worktype}}</h1>
  <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'images/atwork/back.png'%}" alt="" id="back-img"></a>
  

  <div class="handy-man-container">

    {% if newlist %}

    {% for x,y,u in newlist %}

    {% if u %}
    <div class="hm-container">
      <div class="handy-man">
      <div class="handy-man-left-sec">
        <img class="profile-img" src="{% static 'images/man.png' %}" alt="">
        <div class="contact-details">
          <img src="{% static 'images/chat.png' %}" alt="">
          <img src="{% static 'images/call.png' %}" alt="">
          <img src="{% static 'images/whatsapp.png' %}" alt="">
        </div>
      </div>
      <div class="handy-man-right-sec">
        <p>Name: {{x}}</p>
        <p>Job type: {{worktype}}</p>
        <p>City: {{y}}</p>

        <div class="hm-buttons">
          <button><a href=" {% url 'ratings' u %} ">Ratings</a></button>
          
        </div>
      </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}

    {% else %}
    <div class="hm-container">
      Unfortunately {{worktype}} aren't serving in this city, try with a different city.
    </div>
    
    {% endif %}

  </div>

</body>

</html>